body {
  font-family: "Lato", sans-serif;
}
.dark-blue {
  background-color: #323c52;
}

.dark-blue-text {
  color: #374664;
}

.soft-blue {
  background-color: #0ce7fe;
}

.soft-blue-text {
  color: #0ce7fe;
}

i.icon-dark-blue {
  color: #374664;
}
/* Manouel's part  */
header {
  margin-bottom: 60px;
  z-index : 500;
}
.nav-wrapper.dark-blue {
  box-shadow:  2px 1px 5px 1px #0ce7fe;
  border-bottom: 1px solid black;
}

.right.hide-on-med-and-down {
  margin-right: 60px;
}


.brand-logo{
  margin-left: 10px;
  text-shadow: 1px 0px 1px #0ce7fe;
}

.fas.fa-cloud {
  margin-left: 60px;
  text-shadow: 1px 0px 1px #0ce7fe;
}

header nav a {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown-content li {
  font-size: 14px;
  color: white;
  padding: 0px 5px 5px;
}

.dropdown-content li {
  background: #323c52;
  color: black;
}
/* carousel */

.carousel {
  box-shadow: 2px 1px 5px 1px black;
  height: 450px;
}
.carousel img {
  z-index: 0;
  opacity: 0.9;
  width: auto;
}
.carousel.carousel-slider.carousel-item {
  max-height: 700px;
  vertical-align: center;

}

.carousel-fixed-item.center {
  margin-bottom: 80px;
}
#slide2 h2 {
  margin-bottom: 60px;
}

.carousel h2 {
  color: #4facfe;
  text-shadow: 1px 1px 1px black;
}

.carousel.carousel-slider .carousel-item h2 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 40px;
}

.carousel p {
  color: white;
  text-shadow: 1px 1px 1px black;
}
.carousel.carousel-slider .carousel-item p {
    font-size: 1.2rem;
}

.btn.waves-effect {
  box-shadow: 1px 1px 1px #0ce7fe;
}
/* End Manouel's part */

/* Karl's part  */

.soft-white {
  color: #ede7f6;
}

.bgc {
  background-image: linear-gradient(#384868, #2a3244);
  margin-bottom: 0;
  padding-bottom: 30px;
}

.bgc1 {
  background-image: linear-gradient(#39496a, #2a3244);
  margin-bottom: 0;
  padding-bottom: 30px;
}

h4 {
  margin-top: 0;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  letter-spacing: 3px;
  background-image: url(../img/hover_h4.svg);
  background-size: auto 4px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.himg {
  height: 200px;
  max-height: 200px;
  display: flex;
  transition: 0.3s;
}

.himg:hover {
  -webkit-filter:brightness(75%);
}

.parallax-container {
  height: 600px;
  -webkit-filter:brightness(75%);
}

.row.bgc {
  padding: 0 40px 30px;
}
.hicon {
  transition:transform.2s; /* Animation */
  z-index: 1000;
}
.hicon:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.responsive-img-perso {
  max-width: 100%;
  height:200px;
}


 /* création de class pour le background animé */

.stars__control--small {
	height: auto;
	max-width: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	animation:starflow 60s infinite linear;
}

.stars__control--medium {
	height: auto;
	max-width: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	animation:starflow 120s infinite linear;
}

.stars__control--large {
	height: auto;
	max-width: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	animation:starflow 180s infinite linear;
}

.star__small {
	width: 3px;
	height: 3px;
	position: absolute;
	border:1px solid #fff;
	border-radius: 50%;
	background-color: #34495E;
}

.star__medium {
	width: 5px;
	height: 5px;
	position: absolute;
	border:1px solid #fff;
	border-radius: 50%;
	background-color: #34495E;
}

.star__large {
	width: 8px;
	height: 8px;
	position: absolute;
	border:1px solid #fff;
	border-radius: 50%;
	background-color: #34495E;
}

.star__glow {
	background-color: #fcffd4;
	border:1px solid #fcffd4;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(252,255,212,1);
  -moz-box-shadow: 0px 0px 8px 2px rgba(252,255,212,1);
  box-shadow: 0px 0px 8px 2px rgba(252,255,212,1);
}

@keyframes starflow {
	from { top:0px; }
	to { top:-4000px; }
}
/* End Karl's part */

/* Mehdi's part  */
#showShoppingCartModal {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index:400000;
}

.mr-3 {
  margin-right:30px;
}

@media screen and (max-width: 600px) {
  table caption {
    font-size: 1.3em;
  }

  table thead {
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.responsive-img-products {
  max-width: 100%;
  height:150px;
}

.productTitle {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.rem13 {
  font-size : 1.4rem;
}

span.badge {
  border-radius : 10px;
}

/* End Mehdi's part  */

/* Magalie's part  */
/* PRESENTATION */
.pres-box {
margin-top: 50px;
}

.cardm {
  background-color: #2a3244;
}


/* FOOTER */
i {
  font-size: 1.5rem;
  margin-right: 10px;
}


.input-field > label {
  color: #0ce7fe;
}

#contact {
  margin-top: 100px;

}

#phone {
  line-height: 50px;
}

.map-responsive {
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}

.map-responsive iframe {
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

#mail:hover {
  color: white;
}
/* End Magalie's part  */
